<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papay's Smoke Grill and Cafe</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="store.js" async></script>
  </head>
  <body>
    <section class="container">
      <div class="appetizer">
        <div class="banner__header">
          <div class="banner__logo">
            <h1>PAPAY'S</h1>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a class="" href="index.html">Home</a>
                </li>
                <li>
                  <div class="banner__dropdown">
                    <a class="active--nav" href="#"
                      >Menu <i class="fa-solid fa-angle-down"></i
                    ></a>
                    <div class="dropdown--content">
                      <a href="appetizer.html">Papay's Appetizer</a>
                      <a href="alacarte.html">Papay's Ala Carte</a>
                      <a href="burger.html">Papay's Burger</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="banner__cart">
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
        <div class="appetizer__title">
          <h2>Papay's Ala Carte</h2>
        </div>
        <div class="appetizer__label">
          <h2>Filipino Cuisine</h2>
        </div>
        <div class="appetizer__list">
          <div class="appetizer__item">
            <div class="appetizer__img">
              <img src="../../public/img/default.jpg" alt="" />
            </div>
            <div class="appetizer__name">
              <h4>French Fries</h4>
            </div>
            <div class="appetizer__price">
              <h4>Php 00.0</h4>
            </div>
            <div class="appetizer__btn">
              <button>Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="info__contact">
          <div class="info__name">
            <h3>Papay's Smoke Grill and Cafe</h3>
          </div>
          <div class="info__number">
            <i class="fa-solid fa-phone"></i>
            <p>0906-950-0124</p>
          </div>
          <div class="info__email">
            <i class="fa-solid fa-envelope"></i>
            <p>iqbalabdur07@gmail.com</p>
          </div>
          <div class="info__address">
            <i class="fa-solid fa-location-dot"></i>
            <p>Unit 7 Purok 4 Masapang, Victoria, Laguna</p>
          </div>
          <div class="info__sched">
            <h3>Working Hours</h3>
            <p>
              10am - 11pm <br />
              (Monday to Sunday)
            </p>
          </div>
          <div class="info__social">
            <p>Message us via</p>
            <div class="social__icon">
              <a href="https://www.facebook.com/PapaysSmokeGrillandCafe"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.messenger.com/t/102000845465861"
                ><i class="fa-brands fa-facebook-messenger"></i
              ></a>
              <a
                href=" https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D639069500124%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR2pR0_n9sbLmW7UjKxvX9cw-SL_qBzvO0ZfPkBQGHhafbvOKVt6zUDlWD4&h=AT3m-d7uIop7pUdKWqtSrL70e07tmMrb3Q0NVbtavBWg6UNWoRStJP0gOjJ7uMnNW6B4mewDNpgAHq7M9k9BvONMmg4CpL7qCNHLuyAmpP5GVNkIM8WEK5j0I8CMXwy88Pd75tuOi_TfH5NVbWvR9Q"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Menu</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <p>&copy 2022</p>
      </footer>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
