<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papay's Smoke Grill and Cafe</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="container">
      <div class="cart">
        <div class="banner__header">
          <div class="banner__logo">
            <h1>PAPAY'S</h1>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a class="" href="index.html">Home</a>
                </li>
                <li>
                  <div class="banner__dropdown">
                    <a class="active--nav" href="#"
                      >Menu <i class="fa-solid fa-angle-down"></i
                    ></a>
                    <div class="dropdown--content">
                      <a href="appetizer.html">Papay's Appetizer</a>
                      <a href="alacarte.html">Papay's Ala Carte</a>
                      <a href="burger.html">Papay's Burger</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="banner__cart">
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>

        <div class="banner__img">
          <img src="../../public/img/burgirs 1.png" alt="" />
        </div>
      </div>
      <div class="cart__heading">
        <h2>- My Cart -</h2>
      </div>
      <div class="cart__checkout">
        <div class="cart__wrapper">
          <div class="cart__table">
            <table>
              <tr>
                <th>Product Details</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  Laing <br />
                  Php 75.00
                </td>
                <td>
                  <input type="number" value="1" min="1" />
                </td>
                <td>Php 75.00</td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <td>
                  Pork Adobo <br />
                  Php 95.00
                </td>
                <td>
                  <input type="number" value="1" min="1" />
                </td>
                <td>Php 95.00</td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
            </table>
          </div>
          <div class="cart__summary">
            <div class="cart__label">
              <h4>Order Summary</h4>
            </div>
            <div class="cart__list">
              <div class="cart__item">
                <p>Laing</p>
                <p>Php 75.00</p>
              </div>
              <div class="cart__item">
                <p>Pork Adobo</p>
                <p>Php 95.00</p>
              </div>

              <div class="cart__sub">
                <div class="cart__item">
                  <p>Subtotal</p>
                  <p>Php 165.00</p>
                </div>
              </div>
              <div class="cart__total">
                <div class="cart__item">
                  <p>Total</p>
                  <p>Php 165.00</p>
                </div>
              </div>
            </div>
            <div class="cart__btn">
              <a href="checkout.html">Checkout</a>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="info__contact">
          <div class="info__name">
            <h3>Papay's Smoke Grill and Cafe</h3>
          </div>
          <div class="info__number">
            <i class="fa-solid fa-phone"></i>
            <p>0906-950-0124</p>
          </div>
          <div class="info__email">
            <i class="fa-solid fa-envelope"></i>
            <p>iqbalabdur07@gmail.com</p>
          </div>
          <div class="info__address">
            <i class="fa-solid fa-location-dot"></i>
            <p>Unit 7 Purok 4 Masapang, Victoria, Laguna</p>
          </div>
          <div class="info__social">
            <div class="social__icon">
              <a href="https://www.facebook.com/PapaysSmokeGrillandCafe"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.messenger.com/t/102000845465861"
                ><i class="fa-brands fa-facebook-messenger"></i
              ></a>
              <a
                href=" https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D639069500124%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR2pR0_n9sbLmW7UjKxvX9cw-SL_qBzvO0ZfPkBQGHhafbvOKVt6zUDlWD4&h=AT3m-d7uIop7pUdKWqtSrL70e07tmMrb3Q0NVbtavBWg6UNWoRStJP0gOjJ7uMnNW6B4mewDNpgAHq7M9k9BvONMmg4CpL7qCNHLuyAmpP5GVNkIM8WEK5j0I8CMXwy88Pd75tuOi_TfH5NVbWvR9Q"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="appetizer.html">Menu</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <p>&copy 2022 Papay's Smoke Grill and Cafe</p>
      </footer>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
