<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papay's Smoke Grill and Cafe</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/src/css/style.css" />
  </head>
  <body>
    <section class="container">
      <div class="banner">
        <div class="banner__header">
          <div class="banner__logo">
            <h1>PAPAY'S</h1>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a class="active--nav" href="index.html">Home</a>
                </li>
                <li>
                  <div class="banner__dropdown">
                    <a href="#">Menu <i class="fa-solid fa-angle-down"></i></a>
                    <div class="dropdown--content">
                      <a href="appetizer.html">Papay's Appetizer</a>
                      <a href="alacarte.html">Papay's Ala Carte</a>
                      <a href="burger.html">Papay's Burger</a>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="contact.php">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="banner__cart">
            <a href="cart.html"
              ><i class="fa-solid fa-cart-shopping"><span>0</span></i></a
            >
          </div>
        </div>
        <div class="banner__img">
          <img src="../../public/img/burgirs 1.png" alt="" />
        </div>
        <div class="banner__content">
          <div class="banner__tagline">
            <h2>All is Good All is Grilled</h2>
          </div>
          <div class="banner__desc">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque placeat non quia fuga, molestias voluptas. Cupiditate
              dignissimos cum eos non nam! Nihil dolorum tempore quas ipsam
              deleniti id, ea animi!
            </p>
          </div>
          <div class="banner__btn">
            <a href="appetizer.html">View Menu</a>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="info__contact">
          <div class="info__name">
            <h3>Papay's Smoke Grill and Cafe</h3>
          </div>
          <div class="info__number">
            <i class="fa-solid fa-phone"></i>
            <p>0906-950-0124</p>
          </div>
          <div class="info__email">
            <i class="fa-solid fa-envelope"></i>
            <p>iqbalabdur07@gmail.com</p>
          </div>
          <div class="info__address">
            <i class="fa-solid fa-location-dot"></i>
            <p>Unit 7 Purok 4 Masapang, Victoria, Laguna</p>
          </div>
          <div class="info__sched">
            <h3>Working Hours</h3>
            <p>
              10am - 11pm <br />
              (Monday to Sunday)
            </p>
          </div>
          <div class="info__social">
            <p>Message us via</p>
            <div class="social__icon">
              <a href="https://www.facebook.com/PapaysSmokeGrillandCafe"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.messenger.com/t/102000845465861"
                ><i class="fa-brands fa-facebook-messenger"></i
              ></a>
              <a
                href=" https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D639069500124%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR2pR0_n9sbLmW7UjKxvX9cw-SL_qBzvO0ZfPkBQGHhafbvOKVt6zUDlWD4&h=AT3m-d7uIop7pUdKWqtSrL70e07tmMrb3Q0NVbtavBWg6UNWoRStJP0gOjJ7uMnNW6B4mewDNpgAHq7M9k9BvONMmg4CpL7qCNHLuyAmpP5GVNkIM8WEK5j0I8CMXwy88Pd75tuOi_TfH5NVbWvR9Q"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="info__video">
          <video controls>
            <source
              src="../../public/img/278888171_1922571644600340_5445581980897990689_n.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <hr />
      <div class="reviews">
        <div class="reviews__title">
          <h2>Customer Reviews</h2>
        </div>
        <div class="reviews__slideshow">
          <div class="reviews__card reviews--slides reviews--fade">
            <div class="reviews__info">
              <div class="reviews__icon">
                <i class="fa-solid fa-circle-user"></i>
              </div>
              <div class="reviews__name"><p>Mark Ryan Merin</p></div>
              <div class="reviews__date">
                <p>&#9679; July 1, 2022</p>
              </div>
              <div class="reviews__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="reviews__desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                perferendis aut accusantium iure veritatis minus sapiente
                voluptates! Facilis corrupti aspernatur non a qui cum atque
                eveniet, eligendi pariatur suscipit odit.
              </p>
            </div>
          </div>
          <div class="reviews__card reviews--slides reviews--fade">
            <div class="reviews__info">
              <div class="reviews__icon">
                <i class="fa-solid fa-circle-user"></i>
              </div>
              <div class="reviews__name"><p>Meirejoy Maralit</p></div>
              <div class="reviews__date">
                <p>&#9679; July 2, 2022</p>
              </div>
              <div class="reviews__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="reviews__desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                perferendis aut accusantium iure veritatis minus sapiente
                voluptates! Facilis corrupti aspernatur non a qui cum atque
                eveniet, eligendi pariatur suscipit odit.
              </p>
            </div>
          </div>
          <div class="reviews__card reviews--slides reviews--fade">
            <div class="reviews__info">
              <div class="reviews__icon">
                <i class="fa-solid fa-circle-user"></i>
              </div>
              <div class="reviews__name"><p>Ervin Reyes</p></div>
              <div class="reviews__date">
                <p>&#9679; July 3, 2022</p>
              </div>
              <div class="reviews__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="reviews__desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                perferendis aut accusantium iure veritatis minus sapiente
                voluptates! Facilis corrupti aspernatur non a qui cum atque
                eveniet, eligendi pariatur suscipit odit.
              </p>
            </div>
          </div>
          <div class="reviews__btn">
            <button class="reviews--prev" onclick="plusSlides(-1)">❮</button>
            <button class="reviews--next" onclick="plusSlides(1)">❯</button>
          </div>
          <div class="reviews__dot">
            <span class="reviews--dot" onclick="currentSlide(1)"></span>
            <span class="reviews--dot" onclick="currentSlide(2)"></span>
            <span class="reviews--dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
      </div>
      <div class="rating">
        <div class="rating__heading">
          <h2>Add a Review</h2>
          <p>Your email address will not be publish.</p>
          <p>Required fields are mark (*)</p>
        </div>
        <div class="rating__rate">
          <div class="rating__form">
            <form action="">
              <div class="rating__label">
                <h3>Your rating</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="rating__inputs">
                <div class="inputs__wrapper">
                  <textarea
                    name=""
                    id=""
                    placeholder="Your review *"
                  ></textarea>
                </div>
                <div class="inputs__wrapper">
                  <input type="text" placeholder="Name *" />
                </div>
                <div class="inputs__wrapper">
                  <input type="text" placeholder="Email *" />
                </div>
              </div>
              <div class="rating__btn">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="info__contact">
          <div class="info__name">
            <h3>Papay's Smoke Grill and Cafe</h3>
          </div>
          <div class="info__number">
            <i class="fa-solid fa-phone"></i>
            <p>0906-950-0124</p>
          </div>
          <div class="info__email">
            <i class="fa-solid fa-envelope"></i>
            <p>iqbalabdur07@gmail.com</p>
          </div>
          <div class="info__address">
            <i class="fa-solid fa-location-dot"></i>
            <p>Unit 7 Purok 4 Masapang, Victoria, Laguna</p>
          </div>
          <div class="info__social">
            <div class="social__icon">
              <a href="https://www.facebook.com/PapaysSmokeGrillandCafe"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.messenger.com/t/102000845465861"
                ><i class="fa-brands fa-facebook-messenger"></i
              ></a>
              <a
                href=" https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D639069500124%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR2pR0_n9sbLmW7UjKxvX9cw-SL_qBzvO0ZfPkBQGHhafbvOKVt6zUDlWD4&h=AT3m-d7uIop7pUdKWqtSrL70e07tmMrb3Q0NVbtavBWg6UNWoRStJP0gOjJ7uMnNW6B4mewDNpgAHq7M9k9BvONMmg4CpL7qCNHLuyAmpP5GVNkIM8WEK5j0I8CMXwy88Pd75tuOi_TfH5NVbWvR9Q"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>
          <div class="banner__nav">
            <nav>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="appetizer.html">Menu</a>
                </li>
                <li>
                  <a href="contact.php">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <p>&copy 2022 Papay's Smoke Grill and Cafe</p>
      </footer>
    </section>
    <script src="../js/function.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
